.help-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #005c59;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    z-index: 10;
}