.help-message {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #ffffff;
    color: #005c59;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1em;
    z-index: 10;
}